<!-- Modal Structure -->
<div id="cockpitlinkmodal" class="modal">
	<form id="cockpitnameform" action="#!">
		<div class="modal-content">
			
			<h4><i18n:message value="cockpit_modal_title"/></h4>
			<p><i18n:message value="cockpit_modal_text"/></p>
			
			<div class="row">
		        <div class="input-field col s12">
		          <!-- <select id="cockpitnamefield" name="cockpitnamefield" class="cockpitnamefield browser-default"></select>  -->
		            <input required pattern="^[^\s]([a-zA-Z0-9-_]+(\s[a-zA-Z0-9-_]+)*)" type="text" id="cockpitnamefield" name="cockpitnamefield" class="cockpitnamefield validate" maxlength="200"/>
		        </div>
			</div>
			
		</div>
		
		<div class="modal-footer">
			<button id="cockpitnamebutton" class="cedus-blue waves-effect waves-white btn" type="submit" name="action"><i18n:message value="link"/></button>
			<a href="#!" class="modal-action modal-close waves-effect waves-white btn-flat"><i18n:message value="cancel"/></a>
		</div>
		
	</form>
</div>