.iotmanager a.collection-item.block{ color: #263238; }
.iotmanager #actionmenu{ padding-top:14px; }
@media (max-width: 770px) {
	.iotmanager #actionmenu .btn-flat{ 
		padding:0px 7%; 
	}
}

.knowage-gray {
	background-color: #fafafa !important;
}

.iotmanager .selector{ position:absolute; top: 5px; left: 5px; }
.iotmanager .pagination li.active{ background-color: #D32F2F; }
.iotmanager .card.horizontal .card-image img{ height:175px;	}
.iotmanager .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating).modaltrigger { color: #D32F2F; }
.iotmanager #devicelist .card-content{ position:relative; }
.iotmanager #devicelist .deviceitem{ 
	/*max-height:197px;*/
	height: 87%; 
}
.iotmanager #devicelist .deviceitem .card-stacked{ 
	width:65%;
}
.iotmanager #devicelist .deviceitem .card-image{ 
	width:20%;
	min-width:90px;
}
.iotmanager #devicedetails{ 
	min-height:100%; 
	height:100%; 
	max-height:100%; 
	overflow:hidden; 
}

.iotmanager #devicedetails #actiondevice{
	position:absolute; 
	bottom:0;
}

@media (max-width: 600px) {
	.iotmanager #map{
		height: 50%;
	}
	.iotmanager #devicedetails{
		overflow: auto;
	}
}
@media (min-width: 601px) {
	.iotmanager #map{
		height: 100%;
	}
}

.iotmanager #devicedetails .modal-content #details{
	height:100%;
	padding:25px;
}
.iotmanager #devicedetails .attrlist .switch label input[type=checkbox]:checked+.lever:after{
	background-color: #81C784;
}
.iotmanager #mapvisualization{
	width:100%; 
	height: 100%; 
	background-color: gray; 
	position:relative;
	right:0; 
	top:0; 
	bottom:0; 
}

.iotmanager #cockpit-link {
	position: absolute;
    bottom: 105px;
    right: 30px;
    z-index: 2;
    /*background-color: #1976D2 !important;*/
    background-color: rgba(247,150,70,0.7) !important;
    /*background-color: rgba(199,7,81,0.7) !important;*/
}

.iotmanager #remove-cockpit-link {
	position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 2;
    background-color: rgba(247,150,70,0.7) !important;
}

.iotmanager #change-cockpit-link {
	position: absolute;
    bottom: 180px;
    right: 30px;
    z-index: 2;
    background-color: rgba(247,150,70,0.7) !important;
}
.iotmanager #no-cockpit-linked {
	padding: 300px;
    color: #37474f42;
}

#iframedashboard {
	height:100%;
}