.iotmanager .catitem{
	margin-bottom: 20px;
}
.iotmanager .catitem a.catanchor{
	display:block;
	padding:20px 16px;
	height:100%;
	font-size:1.5rem;
	text-transform:capitalize;
}
.iotmanager .catitem .block{
	width:100%;
	height:265px;
	padding: 20px 16px;
	position:relative;
}
.iotmanager .catitem .block .labelholder{
	color: #a3b3ba;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
}
.iotmanager .catitem .block .catname{
	font-size: 32px;
    font-weight: 300;
}
.iotmanager .catitem .delcat{
	position:absolute; 
	bottom:20px; 
	right:16px;
}
.iotmanager .catitem#newcattrigger .block{
	box-shadow: 0px 0px 10px #999 inset;
}
.iotmanager .catitem#newcattrigger a{
	padding:64px 0px;
}