.iotmanager html, body, head{ 
	color: #263238 !important; 
	display:flex;
	flex-direction:column;
}
body{
	height:100%;
}
.iotmanager .cedus-blue{ background-color:#1976D2 !important; }
.iotmanager .cedus-gray{ background-color: #f2f6f9 !important; }
.iotmanager .cedus-darkgray{ background-color: #757575 !important; }
.iotmanager .cedus-white{ background-color: #FFF !important; }
.iotmanager .cedus-bluegray{ background-color: #37474F !important; }
.iotmanager .cedus-red{ background-color: #D32F2F !important; }
.iotmanager .cedus-amber{ background-color: #FFC107 !important; }
.iotmanager .cedus-green{ background-color: #81C784 !important; }

.iotmanager .text-cedus-blue{ color:#1976D2 !important; }
.iotmanager .text-cedus-gray{ color: #e0e0e0 !important;}
.iotmanager .text-cedus-darkgray{ color: #757575 !important; }
.iotmanager .text-cedus-white{ color: #FFF !important; }
.iotmanager .text-cedus-bluegray{ color: #37474F !important; }
.iotmanager .text-cedus-red{ color: #D32F2F !important; }
.iotmanager .text-cedus-amber{ color: #FFC107 !important; }
.iotmanager .text-cedus-green{ color: #81C784 !important; }

.iotmanager .h-40{
	height:40px;
}

.iotmanager #pageloader{
	position:absolute; 
	top:0; 
	bottom:0; 
	left:0; 
	right:0; 
	height:100%; 
	width:100%;
	z-index:1000;
}
.iotmanager #pageloader i{
	margin: 0 auto;
}
.iotmanager #cedus-logo{
	width:103px;
	height:50px;
}

.iotmanager [type="checkbox"].filled-in:checked+label:after{
	border: 2px solid #1976D2;
    background-color:#1976D2;
}
.iotmanager .switch label input[type=checkbox]:checked+.lever:after{
	background-color: #1976D2;
}


.iotmanager [type="radio"]:checked + label:after, 
.iotmanager [type="radio"].with-gap:checked + label:after {
    background-color: #FFC107;
    z-index: 0;
}

.iotmanager [type="radio"]:checked + label:after, 
.iotmanager [type="radio"].with-gap:checked + label:before, 
.iotmanager [type="radio"].with-gap:checked + label:after {
    border: 2px solid #FFC107;
}


@media (min-width: 1366px) {
	.iotmanager .containerized{ 
		padding: 0 15%;
	}
}

.iotmanager .fullsizecol{ padding-left:0px !important ; padding-right:0px !important; }
.iotmanager .nomargin{ margin:0px !important; }
.iotmanager .topmargin{ margin-top:20px 0 0 0 !important; }
.iotmanager .bottommargin{ margin: 0 0 20px 0 !important; }
.iotmanager .nopadding{ padding: 0px !important; }
.iotmanager .container{
    min-width: 320px;
    padding:20px 20px;
    flex-grow:1;
    position:relative;
}
.iotmanager .materialize .container .breadcrumb:before, .breadcrumb{
	color: #37474F !important;
	vertical-align:middle;
}
.iotmanager #side-cedus-logo{ width:90%; }
.iotmanager .block{ display:block; }
.iotmanager .inline{ display:inline; }
.iotmanager .inlineblock{ display:inline-block; }
.iotmanager #searchform{
	/*
	    display: inline-block;
	    margin: 0 auto;
	    position: absolute;
	    left: -1px;
	    right: -1px;
    */
}

.iotmanager .hide-on-med-and-down #searchform{
/* 	width: 50%; */
/* 	top: 9px; */
    min-width: 280px;
}

.iotmanager .searchBar {
    width: calc(100% - 650px);
    margin: 0 auto;
}

.iotmanager #searchform input#search{
    background-color: #efefef;
}

.iotmanager #searchform .fullsizecol .input-field{ height: 45px; }
.iotmanager #search:focus{
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}
.iotmanager #searchform > div.input-field{
	width: 100%; 
	border-radius:2px 2px 2px 2px; 
	height:45px; 
}
.iotmanager nav{ border-bottom: 1px solid #BDBDBD; }
.iotmanager nav .nav-wrapper #searchform i{ height: 45px; line-height:45px; }
.iotmanager nav .languageAnchor{
	width:100%;
	height:100%;
}
.iotmanager #mobilesearch { display:none; height: 45px; }
.iotmanager .activeLang { text-transform: uppercase; }
.iotmanager nav ul.languagemenu a:hover{
	background-color: rgba(0,0,0,0);
}
.iotmanager .breadcrumb_bar{
	height:inherit;
}
.iotmanager .text-italic{
	font-style: italic;
}


.iotmanager .collection .collection-item.avatar {
    min-height: 64px;
}

.iotmanager .collection .vertical-align-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
}

.iotmanager #cedus-logo {
    width: auto;
    height: 50px;
    margin: 7px;
}


.iotmanager #dropdownTools, 
.iotmanager #dropdownToolsMob{
    width: auto !important;
}
.iotmanager #dropdownTools li,
.iotmanager #dropdownToolsMob li{
    white-space: nowrap;
}

.iotmanager #dropdownTools li a,
.iotmanager #dropdownToolsMob li a{
    display: inline-flex;
    align-items: center;
    width: 100%;
}
.iotmanager #dropdownTools li a img,
.iotmanager #dropdownToolsMob li a img {
    height: 40px;
    margin-right: 10px;
}