.iotmanager header{
	height:64px;
}
.iotmanager .container{
/*      top: 64px; */
}
.iotmanager #noattrs-msg{
	border-radius: 2px;
}
.iotmanager #attrappender .newattr .wifi-icon{
	position: absolute; 
	left: 10px;
}
.iotmanager #map{
	min-height:400px; 
	background-color:gray;
}